<html>
    <head>
        <title>Brands</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <div class="container">


            {% include 'partials/nav.html' %}


            <h2> Brand Listings: </h2>

            <p class="lead">

                {% if brands is not empty %}

                    {% for brand in brands %}

                        <form action='/brand/{{ brand.getId }}' method='post'>
                            <a href='/brand/{{ brand.getId}}'>{{ brand.getName }}</a>
                            <input id='brand_id' name='brand_id' type='hidden' value='{{ brand.getId() }}'>
                        </form> 
                        
                    {% endfor %}

                {% endif %}

                <h4>Add a Brand:</h4>

                <form action='/brands' method='post'>
                    <label for ='name'>Name:</label>
                    <input id='name' name='name' type='text' placeholder="" required>
                    <br>
                    <button class="btn-default" type="submit">Add Brand</button>
                    <br/>
                </form>

                <a href="/"><button class="btn-default">Home</button></a>

            </p>

        </div>
    </body>
</html>
