<html>
    <head>
        <title>Shoes Stores</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <div class="container">
            <div class="row"><br>
                    <div class="col-xs-1"> </div>
                    <div class="col-xs-3">
                        <strong> Stores and Brands</strong>  
                    </div>    
                    <div class="col-xs-3">
                        <a href='/stores'>Search Stores</a>
                    </div>
                    <div class="col-xs-3">
                        <a href='/brands'>Search Brands</a>
                    </div>    
            </div>
        </div>
    </body>
</html>