<html>
    <head>
        <title>Shoes Stores</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <div class="container">

            <p><h2> Shoe Stores and Brands Search </h2>

            <p><a href='/stores'>Search Stores</a></p>
            <p><a href='/brands'>Search Brands</a></p>

        </div>
    </body>
</html>