<html>
    <head>
        <title>Stores</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>

        <div class="container">
            

            {% include 'partials/nav.html' %}


            <h2> Store Listings: </h2>

            <p class="lead">

                {% if stores is not empty %}

                    {% for store in stores %}

                        <form action='/store/{{ store.getId }}' method='post'>
                            <a href='/store/{{ store.getId}}'>{{ store.getName }}</a>
                            <input id='store_id' name='store_id' type='hidden' value='{{ store.getId() }}'>
                        </form> 
                        
                    {% endfor %}

                {% endif %}

                <h4>Add a Store:</h4>

                    <form action='/stores' method='post'>
                        <div class="row">
                            <div class="col-xs-2">
                                <label for ='name'>Name:</label>
                            </div>
                            <div class="col-xs-3">
                                <input id='name' name='name' type='text' placeholder="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <label for ='address'>Address:</label>
                            </div>
                            <div class="col-xs-3">
                                <input id='address' name='address' type='text' placeholder="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <label for ='phone'>Phone:</label>
                            </div>
                            <div class="col-xs-3">
                                <input id='phone' name='phone' type='text' placeholder="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">
                                <button class="btn-default" type="submit">Add Store</button>
                            </div>
                        </div>          
                    </form>

                <a href="/"><button class="btn-default">Home</button></a>

            </p>

        </div>
    </body>
</html>
